  /*==============
1. Global Values
================*/

body, html {
    margin: 0;
    padding: 0;
  }

  h2{
    color: black;
    font-size: 40px;
   text-align: center;
  }

a {
    color: black;
    text-decoration: none;
}

    /*==============
2. Navigation
================*/

header{
  position: sticky; 
  z-index: 99;
  top: 0;
}
  
  .topnav {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .title {
    color: black;
    text-decoration: none;
    font-size: 40px;
    margin-left: 40px;
  }
  
  .hamburger {
    display: none;
  }
  
  .menu {
    display: flex;
    margin-right: 100px;
    font-size: 30px;
  }
  
  .menu a {
    margin-left: 30px; 
  }
  
  .menu a:first-child {
    margin-left: 0; /* Remove left margin from first item */
  }
  
  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /*==============
Index page
================*/

  .top-image{
    background-image: url(../images/top-index-2.webp);
    height: 570px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    position: relative;
  }

  .index-text{
    position: absolute;
    background: rgb(0,0,0,0.5);
    top: 20px;
    right: 150px; 
    color: #fff; 
    padding: 10px;
    border-radius: 10px;
    font-size: 75px;
  }


  .tip-button{
    position: absolute;
    bottom: 100px;
    right: 300px; 
    color: #fff; 
    padding: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: #fff;
  }

  .tip-button a{
    color:#ffffff;
    font-size: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }

  .tip-button a:hover{
    font-weight: bold;
    font-size: 50px;
    border-radius: 5px;
    transition: 0.9s;
  }

  /*==============
subscribe section
================*/  

.subscribe {
 background-image:url(../images/subsribe-2.webp);
 height: 600px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position:center -200px;
 margin-bottom: 5px;
 position: relative;
}

.subscribe-text{
  font-size: 16px;
  position: absolute;
  top: 50px;
  right: 200px;
  color: #fff;
  font-size: 25px;
}

.sub-label{
  position: absolute;
  right: 200px;
  top: 100px;
  font-size: 25px;
  color: #fff;
}

form {
  border-radius: 1rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

input {
  border-color: #B3C99C;
  border-style: groove;
  width: 400px;
  max-width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

.form-error {
  display: none;
  color: red;
  font-size: 15px;
  margin-top: 2px;
}

.sub-button {
  background: #B3C99C;
  width: 200px;
  height: 80px;
  color: white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
} 

  /*==============
footer
================*/ 

.bot-nav{
  height: 1000px;
  color: #427784;
}
/*==============
Media queries
================*/
  
  @media (max-width: 600px) {
    .hamburger {
      display: block;
      cursor: pointer;
      color: rgb(0, 0, 0);
      font-size: 18px;
      padding: 14px 16px;
      background-color: #ffffff;
      border: none;
      order: 3;
    }
  
  
    .menu {
      display: none;
    }
  
    .hamburger.clicked ~ .menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    background-color: #ffffff;
    width: 25%;
    padding-top: 20px;
    position: absolute;
    top: 50px;
    right: -90px;
    }
  
    .menu a {
      padding: 8px 16px;
      font-size: 18px;
      text-align: right;
   
    }
}
@media screen and (max-width: 756px) {
    .nav-right {
      display: none;
    }
  }