  /*==============
1. Global Values
================*/


@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  color:#fff;
  font-size: 40px;
  text-align: center;
}

  h4{
    margin-bottom: 3px;
  }

a {
    color: black;
    text-decoration: none;
}

html, body {
  height:100%;
} 

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: black;
  display: flex;
  height: fit-content;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color:#fff;
  overflow-x: hidden;
}


h1,h2{
  font-size: 40px;
  margin-top: 10px;
}

img{
  max-width: 100%;
}

main{
  flex:1;
}
/*==============
2. Navigation
================*/

header{
  position: sticky; 
  z-index: 99;
  top: 0;
}

.topnav {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  color: black;
  text-decoration: none;
  font-size: 40px;
  margin-left: 40px;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  margin-right: 100px;
  font-size: 30px;
}

.menu a {
  margin-left: 30px;
  color: black; 
}

.menu a:first-child {
  margin-left: 0; /* Remove left margin from first item */
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

  /*==============
Index page
================*/

  .top-image{
    background-image: url(../images/top-index-2.webp);
    height: 570px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .index-text{
    position: absolute;
    top: 100px;
    right: 150px; 
    color: #fff; 
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
  }

  .tip-button{
    position: absolute;
    bottom: 100px;
    right: 300px; 
    color: #fff; 
    padding: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: #fff;
  }

  .tip-button a{
    color:#ffffff;
    font-size: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }

  .tip-button a:hover{
    font-weight: bold;
    font-size: 50px;
    border-radius: 5px;
    transition: 0.9s;
  }
  

/*============
Carousel
=============*/


.latest-wrapper {
  background: #B3C99C;
  display: grid;
}

.latest-container{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 1rem;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

.posts{
  font-size: 20px;
  flex-basis: calc(25% - 20px);
  padding: 5px;
  margin: 10px;
  border-style: groove;
  border-color:black;
  transition: transform 0.5s ease-in-out;
}


.posts img{
  width: 70%;
  height: 200px;
  flex-shrink: 0;
  object-fit: cover;
}

.carousel-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 1rem;
}

.carousel-nav button {
  padding: 0.5rem 1rem;
  font-size: 3rem;
  background-color: #B3C99C;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  /* transform: translateY(-50%); */
}

.carousel-nav button:hover {
  background-color: #8CAE77;
}

/* .carousel-nav .prev:first-child {
  display: none;
}

.carousel-nav .next:last-child {
  display: none;
} */


  /*==============
Specific page
================*/  

.specific-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.post-specific{
  flex-basis: calc(100%);
  max-width: 1000px;
  border: none;
  margin: 10px;
  box-sizing: border-box;
}

.post-specific img{
  height: auto;
  object-fit: cover;
}


.wp-element-caption{
  font-size: 22px;
  font-style: italic;
  flex:50%; 
  margin: 10px;
  box-sizing: border-box;
}

.wp-block-image{
  width: 50%;
  height: auto;
  object-fit: cover;
  margin: 20px auto;
}

.wp-block-gallery{
  margin: 0;
  padding: 0;
}


.size-large{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
width: 100%;
}

.size-large img{
  flex-basis: calc(50% - 10px); 
  margin: 5px; 
  max-width: 100%;
  height: auto;
}



  /*==============
Modal 
================*/




  /*==============
about
================*/

.about-background{
  background-image: url(../images/course-4.jpg);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  display: flex;
}

.about{
  display: flex;
  background: rgb(0,0,0,0.5);
}
  .about-text{
    color:#fff;
    font-size: 18px;
    padding: 30px;
    max-width: 100%;
    text-align: left;
  }

  .container-golfer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .golfer {
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .golfer-text {
    text-align: center;
    margin-bottom: 20px;
  }



  /*==============
subscribe section
================*/  

.subscribe {
 background-image:url(../images/subsribe-2.webp);
 height: 600px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position:center -200px;
 margin-bottom: 5px;
 position: relative;
}

.formvalidation{
  position: absolute;
  top: 150px; 
  right: 300px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(0,0,0,0.5);
}

.subscribe-text{
  color: #fff;
  font-size: 25px;
}

.sub-label{
  font-size: 25px;
  color: #fff;
  display: block;
  margin-top: 1rem;
}

form {
  border-radius: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

input {
  border-color: #B3C99C;
  border-style: groove;
  width: 400px;
  max-width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

.form-error {
  display: none;
  color: red;
  font-size: 15px;
  margin-top: 2px;
}

.sub-button {
  background:#B3C99C;
  width: 200px;
  height: 80px;
  color:black;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
} 

  /*==============
footer
================*/ 

.footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

.contactbox{
  padding: 5px 25px;
  font-size: 22px;
  max-width: 520px;
  text-align: left;
 
}

.contact{
  text-align: left;
  max-width: 450px;
  font-size: 20px;
}


.some-container{
  height: 47px;
  background-color:#fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
}

.some-text{
  font-size: 26px;
  margin-left: 8px;
}

.btn1 a {
  font-size: 25px;
  padding: 5px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 5px;
}

.btn1 a:hover{
font-weight: bolder;
transition: 0.9s;
font-size: 35px;
border-radius: 5px;
}

    /*==============
blogs.html
================*/


.blogs{
  background-image: url(../images/put-3.jpg);
  height: 400px;
}

.container-blogs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogpost{
  flex-basis: calc(33% - 20px);
}

    /*==============
Icons
================*/

.fa-brands {
  font-size: 40px;
  padding: 10px
}

.fa-square-facebook, .fa-cc-visa{
  color: blue;
}

.fa-square-instagram{
  color:indianred;
}

.fa-square-twitter, .fa-cc-paypal{
  color:cornflowerblue;
}

.fa-square-youtube, .fa-cc-amex{
  color: crimson;
}


    /*==============
Contact
================*/

.contact-background{
  background-image: url(../images/course-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-hue{
  background: rgb(0,0,0,0.6);
  width: 100%;
}

.Contactinfo{
  color: #fff;
  width: 1000px;
  max-width: 100%;
  text-align: left;
  margin-left: 20px;
}

.contact-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  justify-content: center;
  color: #fff;
}

.contact-img{
  border-style: groove;
  border-radius: 999px;
  margin-bottom: 10px;
  border-color: #427784;
}

.column-contact div {
 flex: 1;
}


.form {
  border-radius: 1rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

}

input {
  border-color: #427784;
  border-style: groove;
  width: 300px;
  max-width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}


input[type=text], select, textarea, aria-label {
  font-family: "Quicksand";
  width: 400px;
  padding: 20px;
  border: 2px solid #427784;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #ffffff;
  font-size: 20px;
}

.form-error {
  display: none;
  color: red;
  font-size: 20px;
  margin-top: 2px;
}

.reg-button {
  background: green;
  width: 200px;
  height: 80px;
  color: white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
} 


label {
  display: block;
  margin-top: 1rem;
  font-size: 22px;
}



/*==============
Media queries
================*/
@media screen and (min-width: 768px) {
  .container-golfer {
    flex-wrap: nowrap;
  }

  .golfer {
    width: auto;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .golfer:last-child {
    margin-right: 0;
  }

  .golfer-text {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 380px) {
  .tip-button {
    padding:20px;
    right: 40%;
  }
  .index-text{
    right: 40%;
  }
}


@media screen and (max-width: 470px) {
  .tip-button a {
    font-size: 12px;
  }
  .index-text{
    font-size: 25px;
  }
  input[type=text], select, textarea, aria-label {
    width: 100%;
  }

}

@media screen and (max-width: 550px){
.footer {
    margin-top: -160px;
}
}
  
  @media (max-width: 600px) {

    .subscribe-text{
      top:10px;
      font-size: 20px;
    }
    .sub-button{
      width: 100px;
      height: 40px;
      font-size: 15px;
  }

  .form, input[type=textarea] {
    width: 100%;
    margin-top: 0;
  } 

  .tip-button {
    padding:20px;
   right: 20px;
  }
    }
  


@media screen and (max-width: 756px) {
    .nav-right {
      display: none;
    }
    nav a{
      font-size: 15px;
    }
    .index-text{
      font-size: 40px;
    }
    .tip-button{
      padding:20px;
      margin-left: 15px;
    }
    .tip-button a{
      font-size: 25px;
    }
    .formvalidation{
      right: 0px;
      position: inherit;
    }
    .footer{
      margin-top: -90px;
    }
    .menu {
      display: none;
    }
    .hamburger {
      display: block;
      cursor: pointer;
      color: rgb(0, 0, 0);
      font-size: 28px;
      padding: 14px 16px;
      background-color: #ffffff;
      border: none;
      order: 3;
    }
    .hamburger.clicked ~ .menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    background-color: #ffffff;
    width: 25%;
    padding-top: 20px;
    position: absolute;
    top: 50px;
    right: -90px;
    }
  
    .menu a {
      padding: 8px 16px;
      font-size: 18px;
      text-align: right;
    }
    .Contactinfo{
      margin-left: 0px;
      text-align: inherit;
    }
  }

  
@media(max-width:1000px){
  
  .contact-right{
    display: none;
  }
  }